tr.yellowClass{
	background-color: #FFFFB2;
}
	
tr.goodColor1{
	background-color: #80C080;
}

tr.goodColor2{
	background-color: #66B366;
}

tr.goodColor3{
	background-color: #4DA64D;
}

tr.goodColor4{
	background-color: #339933;
}

tr.goodColor5{
	background-color: #198D19;
}

/*tr.goodColor6{
	background-color: #008000;
}

tr.goodColor7{
	background-color: #007300;
}

tr.goodColor8{
	background-color: #006600;
}

tr.goodColor9{
	background-color: #005A00;
}

tr.goodColor10{
	background-color: #004D00;
}*/

tr.badColor1{
	background-color: #FF8080;
}

tr.badColor2{
	background-color: #FF6666;
}

tr.badColor3{
	background-color: #FF4D4D;
}

tr.badColor4{
	background-color: #FF3333;
}

tr.badColor5{
	background-color: #FF0000;
}

/*tr.badColor6{
	background-color: #E60000;
}

tr.badColor7{
	background-color: #CC0000;
}

tr.badColor8{
	background-color: #B20000;
}

tr.badColor9{
	background-color: #990000;
}*/




